body {
  margin: 0;
  /* reference: https://github.com/necolas/normalize.css/issues/665 */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1{
    display: none
}

